.venue {

	&__header {
		background-color: #d4d4d4;
		overflow: hidden;
		margin: 20px 10px 0px;

		h1 {
			margin: 10px;
			font-size: 15px;
		}
	}

	&__introduction {
		padding: 20px 10px;
		border-bottom: solid 1px #000;
		margin-bottom: 20px;

		p {
			font-size: 12px;
		}
	}

	&__list {
		padding: 20px 10px;

		&-inner {
			overflow: hidden;
			margin-left: -2%;
		}

		&-item {
			float: left;
			margin: 0 0 20px 2%;
			width: 48%;
			

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			@media(max-width: 700px) {
				width: 98%;
			}
		}
	}

	&__event {
		border: solid 1px #d4d4d4;
		padding: 5px;
		font-size: 12px;
	}
}