/* line 1, ../../scss/blocks/header.scss */
.header {
  padding: 20px 0px;
  background-color: #000;
}
/* line 6, ../../scss/blocks/header.scss */
.header .global-nav {
  margin: 0 auto;
  max-width: 960px;
}
/* line 10, ../../scss/blocks/header.scss */
.header .global-nav__ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 16, ../../scss/blocks/header.scss */
.header .global-nav__ul li {
  float: left;
}
/* line 19, ../../scss/blocks/header.scss */
.header .global-nav__ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  float: left;
}
/* line 29, ../../scss/blocks/header.scss */
.header .global-nav--home .list--home {
  background-color: #5d5d5d;
}
/* line 34, ../../scss/blocks/header.scss */
.header .global-nav--about .list--about {
  background-color: #5d5d5d;
}
@media (max-width: 960px) {
  /* line 6, ../../scss/blocks/header.scss */
  .header .global-nav {
    margin: 0px 10px;
  }
}
