/* line 1, ../../scss/blocks/loader.scss */
.loader {
  -webkit-transform: opacity, 1s;
  -moz-transform: opacity, 1s;
  -o-transform: opacity, 1s;
  transform: opacity, 1s;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 14, ../../scss/blocks/loader.scss */
.loader__content {
  color: #000;
  text-align: center;
  margin-top: 25%;
  padding: 5px 10px;
  border-radius: 3px;
}
/* line 22, ../../scss/blocks/loader.scss */
.loader--isactive {
  display: block;
  opacity: 1;
}
/* line 27, ../../scss/blocks/loader.scss */
.loader--inactive {
  display: none;
  opacity: 0;
}
