/* line 3, ../../scss/blocks/main.scss */
.main__nav {
  padding: 20px 10px;
  border-bottom: solid 1px #000;
  overflow: hidden;
}
/* line 8, ../../scss/blocks/main.scss */
.main__nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 13, ../../scss/blocks/main.scss */
.main__nav-ul li {
  float: left;
}
/* line 17, ../../scss/blocks/main.scss */
.main__nav-ul a {
  float: left;
  padding: 5px 20px;
  text-decoration: none;
  background-color: #5d5d5d;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
}
@media (max-width: 395px) {
  /* line 28, ../../scss/blocks/main.scss */
  .main__nav-ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 33, ../../scss/blocks/main.scss */
  .main__nav-ul a {
    display: block;
    float: none;
    margin-right: 0px;
  }
}
/* line 41, ../../scss/blocks/main.scss */
.main__nav-link {
  padding: 5px 20px 5px 10px;
  float: left;
}
/* line 46, ../../scss/blocks/main.scss */
.main__nav-plain {
  padding: 6px 0 0;
  font-size: 14px;
}
/* line 53, ../../scss/blocks/main.scss */
.main__nav--event .list--event a {
  background-color: #000;
}
/* line 60, ../../scss/blocks/main.scss */
.main__nav--venue .list--venue a {
  background-color: #000;
}
/* line 67, ../../scss/blocks/main.scss */
.main__nav--production .list--production a {
  background-color: #000;
}
/* line 74, ../../scss/blocks/main.scss */
.main__filter {
  overflow: hidden;
  border-bottom: solid 1px #000;
  padding: 20px 10px;
}
/* line 79, ../../scss/blocks/main.scss */
.main__filter-left {
  float: left;
  width: 70%;
}
/* line 84, ../../scss/blocks/main.scss */
.main__filter-right {
  float: right;
  width: 30%;
  text-align: right;
}
/* line 91, ../../scss/blocks/main.scss */
.main__list {
  padding: 20px 10px;
}
/* line 94, ../../scss/blocks/main.scss */
.main__list-inner {
  overflow: hidden;
  margin-left: -2%;
}
/* line 99, ../../scss/blocks/main.scss */
.main__list-item {
  float: left;
  margin: 0 0 20px 2%;
}
/* line 104, ../../scss/blocks/main.scss */
.main__list-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 110, ../../scss/blocks/main.scss */
.main__list-item--small {
  overflow-x: hidden;
  overflow-y: auto;
  width: 48%;
}
@media (max-width: 700px) {
  /* line 99, ../../scss/blocks/main.scss */
  .main__list-item {
    width: 98%;
  }
}
/* line 120, ../../scss/blocks/main.scss */
.main__list-item--large {
  width: 98%;
}
